In [1]:
import sqlite3

#### Создаю базу данных (БД) и курсор к ней, чтобы далее работать с этой БД.

In [2]:
db = sqlite3.connect('/content/data base.db')
cursor = db.cursor()

#### Создаю в БД таблицу с пятью колонками. Не забывая сохранять выполненные изменения в БД с помощью метода "commit()".

In [3]:
cursor.execute("CREATE TABLE five_columns_table(car_id INT PRIMARY KEY,\
                                                year_of_manufacture_of_the_car INT,\
                                                name_of_owner TEXT,\
                                                license_plate TEXT,\
                                                registration_region INT);")
db.commit()

#### Добавляю пять записей(строк) в таблицу.

In [4]:
# одну запись

cursor.execute("INSERT INTO five_columns_table VALUES('4', '2019', 'Maxim Dyagev', 'T 800 KP', '59');")
db.commit()

In [5]:
# другую запись кортежем

tuple_for_table = ('6', '2019', 'Lidiya Tunova', 'M 036 HH', '59')

cursor.execute("INSERT INTO five_columns_table VALUES(?, ?, ?, ?, ?);", tuple_for_table)
db.commit()

In [6]:
# несколько записей списком кортежей

three_tuples_list_for_table = [('9', '2021', 'Andrey Kirtov', 'A 500 OX', '59'),
                               ('80', '2019', 'Olga Vifeeva', 'C 705 MB', '159'),
                               ('271', '2014', 'Georgiy Lirov', 'H 998 XE', '59')]

cursor.executemany("INSERT INTO five_columns_table VALUES(?, ?, ?, ?, ?);", three_tuples_list_for_table)
db.commit()

#### Запрашиваю записи из таблицы.

In [7]:
# конкретный результат

cursor.execute("SELECT * FROM five_columns_table WHERE name_of_owner='Georgiy Lirov';") # условие
concrete_result = cursor.fetchone()
print(concrete_result)

(271, 2014, 'Georgiy Lirov', 'H 998 XE', 59)

In [8]:
# первый результат

cursor.execute("SELECT * FROM five_columns_table;") # нет условия
first_result = cursor.fetchone()
print(first_result)

(4, 2019, 'Maxim Dyagev', 'T 800 KP', 59)

In [9]:
# запрос нескольких записей

cursor.execute("SELECT * FROM five_columns_table WHERE registration_region='59';") # у нас 4 таких записи
many_result = cursor.fetchmany(3) # запросим первые три
print(many_result)

[(4, 2019, 'Maxim Dyagev', 'T 800 KP', 59), (6, 2019, 'Lidiya Tunova', 'M 036 HH', 59), (9, 2021, 'Andrey Kirtov', 'A 500 OX', 59)]

In [10]:
# запрос всех записей, отвечающих условию

cursor.execute("SELECT * FROM five_columns_table WHERE registration_region='59';") # условие
all_results_with_condition = cursor.fetchall() # те самые 4 записи, запросим их все и убедимся,
                                               # что их не больше, чем мы думали
print(all_results_with_condition)

[(4, 2019, 'Maxim Dyagev', 'T 800 KP', 59), (6, 2019, 'Lidiya Tunova', 'M 036 HH', 59), (9, 2021, 'Andrey Kirtov', 'A 500 OX', 59), (271, 2014, 'Georgiy Lirov', 'H 998 XE', 59)]

In [11]:
# запрос абсолютно всех записей

cursor.execute("SELECT * FROM five_columns_table;") # нет условия
all_results = cursor.fetchall()
print(all_results)

[(4, 2019, 'Maxim Dyagev', 'T 800 KP', 59), (6, 2019, 'Lidiya Tunova', 'M 036 HH', 59), (9, 2021, 'Andrey Kirtov', 'A 500 OX', 59), (80, 2019, 'Olga Vifeeva', 'C 705 MB', 159), (271, 2014, 'Georgiy Lirov', 'H 998 XE', 59)]

#### Удаляю записи в таблице.

In [12]:
# условие может состоять из нескольких условий

cursor.execute("DELETE FROM five_columns_table WHERE year_of_manufacture_of_the_car='2019'\
                                                 AND registration_region='59';")
db.commit()

In [13]:
# взглянем на результат после удаления

cursor.execute("SELECT * FROM five_columns_table;")
print(cursor.fetchall())

[(9, 2021, 'Andrey Kirtov', 'A 500 OX', 59), (80, 2019, 'Olga Vifeeva', 'C 705 MB', 159), (271, 2014, 'Georgiy Lirov', 'H 998 XE', 59)]

#### Изменяю запись в таблице.

In [14]:
cursor.execute("UPDATE five_columns_table SET license_plate='O 999 AX' WHERE license_plate='A 500 OX';")
db.commit()

In [15]:
# взглянем, что в БД теперь

cursor.execute("SELECT * FROM five_columns_table;")
print(cursor.fetchall())

[(9, 2021, 'Andrey Kirtov', 'O 999 AX', 59), (80, 2019, 'Olga Vifeeva', 'C 705 MB', 159), (271, 2014, 'Georgiy Lirov', 'H 998 XE', 59)]

#### Переименовываю таблицу.

In [16]:
cursor.execute("ALTER TABLE five_columns_table RENAME TO old_table;")
db.commit()

#### Удаляю таблицу.

In [17]:
cursor.execute("DROP TABLE old_table;")
db.commit()

#### Завершаю работу с БД.

In [18]:
cursor.close()
db.close()